-
  var attr = { };
  attr.id = post.layout + '-' + post.slug;
  attr['class'] = 'article-type-' + post.layout;
  attr.itemscope = true;
  attr.itemprop = 'blogPost';
article&attributes(attr)
  include mixins
  div.article-meta.clearfix
    +postDate('article-date', theme.date_format)
    +categories()
  div.article-inner
    div.article-header
      if post.cover
        img(class='article-cover', src=url_for(post.cover))/
      +postTitle('article-title')
    div(itemprop='articleBody').article-entry
      if excerpt
        if post.excerpt
          p !{post.excerpt}
          p.article-more-link
            a(href=url_for(post.path)+'#more') #{theme.excerpt_link || 'Read more'}
      else
        | !{post.content}
    div.article-footer.clearfix
      +tags()