footer
  div.outer
    div.inner
      p.copy &copy #{date(new Date(), 'YYYY')} #{config.author}
      p.powered #{__('powered_by')}&nbsp
        a(
        href='http://hexo.io/'
        target='_blank'
        ) Hexo
if theme.iconfont
  script(src=theme.iconfont)